/**
 * textCSS
 * By Erwin Larios.
 *
 * A starting point to styling text.
 */

/**
 * Note: Combine this styles with the one in your projects
 * reset file if you are using one.
 */
html {
  font-family: -apple-system,
               BlinkMacSystemFont,
               "Segoe UI",
               Roboto,
               Oxygen-Sans,
               Ubuntu,
               Cantarell,
               "Helvetica Neue",
               sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/**
 * Paragraphs
 *
 * Sets the baseline to a height of 1.5.
 */
p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

/**
 * Headings
 *
 * Modular scale for headings.
 * Adjusts de line-height property for every heading level to
 * meet the project's baseline value.
 *
 */
 h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
  font-weight: bold;
}

h1 {
  font-size: 3em;
  line-height: 1;
}

h2 {
  font-size: 2.5em;
  line-height: 1.2;
}

h3 {
  font-size: 2.25em;
  line-height: 1.3333333;
}

h4 {
  font-size: 2em;
  line-height: 1.5;
}
h5 {
  font-size: 1.5em;
  line-height: 1;
}
h6 {
  font-size: 1em;
  line-height: 1.5;
}

/** Lists */
ul, ol {
  margin: 0 0 1.5rem 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
  line-height: 1.5;
}

ul ul,
ol ol {
  margin: 0 0 0 4rem;
}

dl{
  margin-bottom: 1.5rem;
}
dt{
  font-weight: bold;
}
